<!DOCTYPE html>
<html>
    <head>
        <title>Sorry, something's not right.</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h2>Error <th:block th:text="${status}"/>: <th:block th:text="${error}"/></h2>
        <p th:text="${message}"/>
        <th:block th:if="${exception}">
            <h3 th:text="${exception}"/>
            <pre th:text="${trace}"/>
        </th:block>
    </body>
</html>
